
.heading{
    text-align: center;
}


body{
    background-color: bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    h1{ color: blue;}
    h2{ color: brown;}
    h3{ color :aquamarine;}
    h4{ color :antiquewhite;}
    h5{ color:antiquewhite;}
}


p { class :" CSE- 28"; color:aqua; background-size: auto;}

div{
    height: 500px;
    width: 400px;
    border: 
    i
}